<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meteo</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />


</head>
<body>


<p th:text="'Adresse saisie : ' + ${meteo.getCity().getName()} + ' !'" />

<table>
    <thead>
    <tr>
        <th>Jours</th>
        <th>Température min</th>
        <th>Température max</th>
        <th>Probabilité de pluie</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="previ: ${meteo.getPrevisions()}">
        <td th:text="'Jour' +${previ.getDay()}"></td>
        <td th:text="${previ.getTmin()}+'°C'"></td>
        <td th:text="${previ.getTmax()}+'°C'"></td>
        <td th:text="${previ.getProbarain()}+'%'"></td>
    </tbody>
</table>

</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</html>